# dependencies
/node_modules

# misc
Thumbs.db
.DS_Store
.env
*.log*

# editors
.idea
*.sublime*
.vscode

# public
public/js/webmap-clients.js
public/js/webmap-ivn.js
public/js/webmap-main.js
public/js/webmap-fvf.js

# raw
data/row/*
