.p-3
  div.sticky-top.bg-light.d-flex.flex-row.align-items-stretch.justify-content-center.pt-2.pb-2
    div
      h5
        b Дорожная карта ФВФ
    div
      form(action="/download/fvf/roadmap", method="get")
        button.btn.btn-link.pt-0(type="submit") &#8595; .XLSX
  .mermaid
    :markdown-it(inline)
      gantt
        dateFormat  YYYY-MM-DD
        section КСОБЖ "ИБР" (207)
          Инициирование процедуры расторжения контракта с ООО "Аэль-РТС"  :active, a1, 2022-07-01, 13d
          Начата продура расторжения :active, milestone, ma1, after a1, 1h
          Расторжения контракта с ООО "Аэль-РТС" :active, a2, after a1, 14d
          Действующий контракт на обеспечение эксплуатации расторгнут :milestone, ma2, after a2, 1h
          Аудит состава оборудования и ПО :a3, after a2, 14d
          Актуализирован состав принимаего от подрядчика по факту расторжения контракта оборудования :milestone, ma3, after a3, 1h
          Высвобождение зарезервированных на контракте ЛБО :a4, after a2, 10d
          ЛБО высвобождены :milestone, ma4, after a4, 1h
          Передача имущества и прав по госконтракту в ГБУ РМ "ЦОДД" :a5, after a2, 19d
          Оборудование передано в ГБУ РМ "ЦОДД" :milestone, ma5, after a5, 1h
        section Фед. комплексы (24)
          Обеспечение эксплуатации по временной схеме (силами подвед. ГУП РМ "НПЦ ИНТ") :active, b1, 2022-05-01, 153d
          Организована эксплуатация оборудования :active, milestone, ma5, 2022-05-01, 1h
          Замена стороны в дог. безв. пользования на Минцифры РМ :active, b2, 2022-07-01, 14d
          Договор о безвозмездном пользовании заключен с Министерством цифрового развития РМ :active, milestone, mb2, after b2, 1h
          Передача имущества из фед. собств. в собств. РМ :active, b3, after b2, 78d
          Оборудование передано в собственность Республики Мордовия :milestone, mb3, after b3, 1h
          Закрепление имущества за ГБУ РМ "ЦОДД" :active, b4, after b2, 78d
          Оборудование закреплено за ГБУ РМ "ЦОДД" :milestone, mb4, after b4, 1h
        section Закуп. комплексы (27)
          Проведение закупочной процедуры и заключение контракта :active, c1, 2022-07-01, 18d
          Заключен контракт на поставку оборудования :active, milestone, mc1, after c1, 1h
          Поставка оборудования и подписание акта приема-передачи :active, c2, after c1, 18d
          Оборудование поставлено, подписаны соответствующие акты :milestone, mc2, after c2, 1h
          Монтаж 25 стац. комплексов в соответствии с предложениями ГИБДД МВД по РМ силами ГУП РМ "НПЦ ИНТ" :c3, after c2, 30d
          Смонитрованы стационарные комплексы :milestone, mc3, after c3, 1h
          Обеспечение эксплуатации по временной схеме (силами подвед. ГУП РМ "НПЦ ИНТ") :c4, after c3, 26d
          Организована эксплуатация стационарных комплексов :milestone, mc4, after c3, 1h
          Закрепление имущества за ГБУ РМ "ЦОДД" :c5, after c2, 56d
          Оборудование передано в ГБУ РМ "ЦОДД" :milestone, mc5, after c5, 1h
        section Эксплуатация (207+24+27)
          Создание ГБУ РМ "ЦОДД" :active, d1, 2022-05-01, 61d
          Создано уполномоченное учреждение :active, milestone, md1, after d1, 1h
          Формирование штата специалистов :active, d2, after d1, 45d
          Сформирован штат :milestone, md2, after d2, 1h
          Приобретение необходимых основных средств (авто и спецтехники, оборудование, ЗИП) :d3, after d2, 30d
          Закуплены необходимые основные средства :milestone, md3, after d3, 1h
          Обучение и спецкурсы для специалистов :d4, after d2, 35d
          Пройдено обучение :milestone, md4, after d4, 1h
          Обеспечение эксплуатации ФВФ хозспособом :d5, 2022-10-01, 92d
          Организована бесперебойная эксплуатация ФВФ :milestone, md5, 2022-10-01, 1h
        section Организация оказания почтовых услуг
          Контрактование на доставку электронных заказных писем :active, e1, 2022-07-01, 75d
          Контрактование на конвертование и доставку бумажных отправлений :active, e2, 2022-07-01, 75d
          Обеспечена доставка электронных и бумажных почтовых отправлений :milestone, me2, after e2, 1h
  script(src='https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js')
  script.
    mermaid.initialize({
      theme: 'forest',
      startOnLoad: true,
      securityLevel: 'loose',
    });
