extends layout

block main
  .p-3.mt-3.d-flex.flex-column.align-items-stretch
    .d-flex.justify-content-end
      a(href=`/fvf-list`) Список мест размещения
    div#map.p-2
  script(src= mapScript)
