extends layout

block diagram
  h6
    b Дорожная карта ФВФ
  .mermaid
    :markdown-it(inline)
      gantt
        dateFormat  YYYY-MM-DD
        section КСОБЖ "ИБР" (207)
          Инициирование процедуры расторжения контракта с ООО "Аэль-РТС"  :active, a1, 2022-07-01, 13d
          Вступление решения суда в законную силу :a2, after a1, 14d
          Расторжения контракта с ООО "Аэль-РТС" :a3, after a2, 14d
          Аудит состава оборудования и ПО :a4, after a3, 14d
          Высвобождение зарезервированных на контракте ЛБО :a5, after a3, 10d
          Передача имущества и прав по госконтракту в ГБУ РМ "ЦОДД" :a6, after a3, 19d
        section Фед. комплексы (24)
          Обеспечение эксплуатации по временной схеме (силами подвед. ГУП РМ "НПЦ ИНТ") :active, b1, 2022-05-01, 153d
          Замена стороны в дог. безв. пользования на Минцифры РМ :active, b2, 2022-07-01, 14d
          Передача имущества из фед. собств. в собств. РМ :b3, after b2, 78d
          Закрепление имущества за ГБУ РМ "ЦОДД" :b4, after b2, 78d
        section Закуп. комплексы (27)
          Проведение закупочной процедуры и заключение контракта :active, c1, 2022-07-01, 18d
          Поставка оборудования и подписание акта приема-передачи :c2, after c1, 18d
          Монтаж 25 стац. комплексов в соответствии с предложениями ГИБДД МВД по РМ силами ГУП РМ "НПЦ ИНТ" :c3, after c2, 30d
          Обеспечение эксплуатации по временной схеме (силами подвед. ГУП РМ "НПЦ ИНТ") :c4, after c3, 26d
          Закрепление имущества за ГБУ РМ "ЦОДД" :c5, after c2, 56d
        section Эксплуатация (207+24+27)
          Создание ГБУ РМ "ЦОДД" :active, d1, 2022-05-01, 61d
          Формирование штата специалистов :active, d2, after d1, 45d
          Приобретение необходимых основных средств (авто и спецтехники, оборудование, ЗИП) :d3, after d2, 30d
          Обучение и спецкурсы для специалистов :active, d4, after d1, 75d
          Обеспечение эксплуатации ФВФ хозспособом :crit, d5, 2022-10-01, 92d
        section Организация оказания почтовых услуг
          Контрактования на доставку электронных заказных писем :active, e1, 2022-07-01, 75d
          Контрактование на конвертование и доставку бумажных отправлений :active, e2, 2022-07-01, 75d
  script(src='https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js')
  script.
    mermaid.initialize({startOnLoad: true})

