doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/leaflet.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    title= title
  body
    header
      ul.d-flex
        each item, index in headerMenu
          li(class= (index === headerMenu.length - 1 ? `list-inline-item last-menu-item` : `list-inline-item`))
            if item[`isActive`]
              a= item[`menuName`]
            else
              a(href=`${item[`link`]}`)= item[`menuName`]
    block main
